* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
/* vi tri, size(width, height), kieu dang, ma sac */

html {
    font-family: Arial, Helvetica, sans-serif;

}
.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

#main {

}

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

}
#nav {
    display: inline-block;
}

/* #nav > li {
    display: inline-block;
} */
#nav li{
    display: inline-block;
    position: relative;
    
}
#nav >li >a {
    color: #fff;
    text-transform: uppercase ;

}
#nav .subnav >li {
    display: block;
}
#nav li a {
   
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;

}
#nav li:hover .subnav {
    display: block;
}
#nav > li:hover >a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}


#nav .subnav {
   
    display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 12px;
}

#header .search-btn:hover {
    background-color: #f44336;
}

#header .search-btn {
    float: right;
    padding:0 21px;
    cursor: pointer;
}
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;

}

#slider {
   position: relative;
   margin-top: 46px;
   padding-top: 50%;
   background: url('/assets/img/ekko.jpg') top center / cover no-repeat;
  
}
#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    
    width: 100%; /* or left: 50%; transform: translate(-50%);*/
    
    text-align: center; 
}

#slider .text_heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text_description {
    font-size:15px;
    margin-top:25px;

}

#content {

}

#content .content-section {
    padding: 64px 0;
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}

#content .section-headding {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
}

#content .section-sub-headding {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic; /* chữ nghiêng */
}

#content .about-content {
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list {
    margin-top: 48px;
}

#content .member-item {
    float: left;   
    width: 33.33333%; 
    text-align: center;
    
    
}

#content .member:-name {
    font-size: 15px;
   
    
}

#content .member-img {
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}

/* Tour section  */
.tour-section {
    background-color: #000; 
   
}

.ticket-list {
    background-color: #fff;
    margin-top: 40px;
}

.ticket-list li {
    color: #7575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;      
}

.ticket-list .soud-out {
        background-color: #f44336;
        color: #fff;
        padding: 3px 4px;
        margin-left: 16px;


}

.ticket-list .Quantity {
    float: right;
    width:24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}
/* Place */
.Place-list {
    
    margin: 32px -8px 0;
    padding-bottom: 48px;;

}
.place-item {
    float: left;
    width: 33.3333%;
    padding: 0 8px;
}
.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}
.place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}
.place-headding {
    font-size:15px;
    font-weight: 600;
}
.place-time {
    margin-top: 15px;
    color: #7575;
}
.place-desc {
    margin-top: 15px;
    line-height:1.4;
}
.place-buy-btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
}

.place-buy-btn:hover {
    background-color: #ccc;
}

#footer {

}
